POSTGRES_DB=fintech
POSTGRES_USER=fintech
POSTGRES_PASSWORD=change-me-use-a-long-random-secret
BANKSERVICE_DOMAIN=bankservice.apicode.io
ACME_EMAIL=admin@apicode.io
IMAGE_TAG=latest
SHOWCASE_REPOSITORY_URL=https://github.com/rsingla/fintech-microservices-platform
SHOWCASE_WEBSITE_URL=https://apicode.io
