AWS_REGION = us-west-2
AWS_ACCESS_KEY_ID = { AWS_ACCESS_KEY_ID }
AWS_SECRET_ACCESS_KEY = { AWS_SECRET_ACCESS_KEY }
AWS_SDK_GO_DEBUG = true

PORT=3001

OPENAI_URL={ OPENAI_URL }
OPENAI_API_KEY={ OPENAI_API_KEY}
DEFAULT_GPT3_MODEL={ DEFAULT_GPT3_MODEL }
